.scroll-elem {
    height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.scroll-elem div {
    height: 300px;
}

.scroll-elem::-webkit-scrollbar {
    width: 10px;
}
/* полоса прокрутки для Chrome, Safari, Edge */
.scroll-elem::-webkit-scrollbar-track {
    background-color: #EEE2DC;
    border-radius: 5px;
    /* можно добавить тень */
}
.scroll-elem::-webkit-scrollbar-thumb {
    background-color: #AC3B61;
    border-radius: 5px;
}

.scroll-elem::-webkit-scrollbar-button {}

/* убрать полосу прокрутки всей страницы
*::-webkit-scrollbar {
    width: 0;
}*/

/* полоса прокрутки для Firefox */
/*
.some-elem {
    scrollbar-width: thin;  auto
    scrollbar-color: #EEE2DC #AC3B61; индикатор дорожка
}
*/
