.margin {
    margin: 10px;
}

.padding {
    padding: 10px;
    border: 1px solid #3E2723;
}

.orange {
    background-color: orange;
}

.space-between {
    justify-content: space-between;
}

header {
    background: orangered;
}

footer {
    height: 100px;
    background: orangered;
}

aside {
    background: #cc3300;
}


/* flexbox: прижатый футер */
html {
    height: 100%;
}

body {
    font-size: 20px;
    margin: 0;
    color: #3E2723;

    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-block {
    /* grow shrink basis */
    flex: 1 0 auto;

}

footer {
    flex: 0 0 auto;
}


/* menu: nav a */
.navbar {
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}

.navbar-title {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 6px solid transparent;
}

.navbar-title:hover {
    border-bottom: 6px solid #EDC7B7;
}

a {
    font-size: 2rem;
    text-decoration: none;
    color: #EDC7B7;
}

.container {
    margin: 0 auto;
    max-width: 1200px;

}


