.section-h2{
    flex: 1 0 100%;
}

.book {
    margin: 1rem;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);

    position: relative;
}

.book h3 {
    position: absolute;
    top: 0;
    left: 1rem;
    right: 1rem;
    background: #EEE2DC;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}


.book p {
    padding: 1rem;
}

