.book {
   /* тень блока */
   /* тень текста */
   /*: смещение_по-ширине смещение_по_высоте
       радиус_размытия растяжение цвет_тени */
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    margin-bottom: 1.5rem;
    color: #123C69;
}

.book a {
    /* display: inline; строчный */
    /* display: block; блок */
    /* display: inline-block; блочно-строчный */
    /* display: none; скрытие элемента */
    display: block;
    background-color: #123C69;
    color: #EDC7B7;
    text-align: center;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 2.5rem;
    margin-top: 1rem;
}

.book p {
    font-size: 2.5rem;
    margin: 0;
    padding: 2rem;
}

.book a:hover {
    background-color: #AC3B61;
    transition: background-color 2s;
}
