* {
    /* стили применятся ко всем элементам */
}

/* цвета */
.light-pink-background {
    background-color: #EEE2DC; /* rgb , rgba */
}

.light-pink-text {
    color: #EEE2DC;
}

.text-shadow-red,
.text-shadow-blue {
    text-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}

.text-shadow-blue {
    background-color: #123C69;
}

.text-shadow-red {
    background-color: #AC3B61;
}

body {
    /* размер шрифта */
    font-size: 32px;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;   /* height: 100% */
}

.container {
    /*width: ;*/
    max-width: 1200px;
    /* 0 - верх/низ auto - лево/право */
    margin: 0 auto;
}

header {
    background-color: #AC3B61;
}

header ul {
    margin: 0;
    /* оформление маркеров списка */
    list-style-type: none;
}

header .container{
    display: flex;
    align-items: start;
    line-height: 100px;
}

.search {
    margin-left: auto;
}

.menu {
    padding: 0;
}

.menu > li {
    display: inline-block;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
}

.menu > li:first-child {
    padding-left: 0;
}

.menu,
.menu a {
    color: #EDC7B7;
    text-transform: uppercase;
}

.submenu {
    position: relative;
    cursor: pointer;
}

.submenu > ul {
    /* скрытие элементов */
    /* opacity: 0; */
    /* display: none; */
    /* height: 0; overflow: hidden; */
    height: 0;
    overflow: hidden;
    position: absolute;
    left: 2rem;
    right: 2rem;
    background-color: #AC3B61;
    z-index: 1;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
}

.submenu li {
    border-bottom: 2px solid #EDC7B7;
}

.submenu li:last-child {
    border-bottom: none;
}

.submenu:hover ul {
    height: 300px;
    transition: height 1s;
    /*background-color: #AC3B61;*/
}

.search > span {
    position: relative;
}

.icon {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    color: #123C69;
}

header input[type="text"] {
    border-style: none;
    outline-style: none;

    color: #123C69;
    font-size: 1.5rem;
    background-color: #EEE2DC;
    /* если рамка только снизу, border-radius: 0; */
    border-radius: 5px;
    padding: 0.7rem 0.7rem 0.7rem 2.5rem;
}


footer {
    background-color: #123C69;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
}

footer a {
    color: #BAB2B5;
}

.social {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}