body {
    margin: 0;
    background-color: rgba(190, 235, 159, 1);
}
img {
    width: 100%;
    height: auto;
}
article {
    position: relative;
    overflow: hidden;
}

article h3,
article p {
    background: #FF4E00;
    padding: 20px 10px;
    display: inline-block;
    color: white;
    font-size: 20px;
}

article div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow: hidden;
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

article img {
    width: 100%;
    height: 100%;
}

/* grid layout */
