body {
    margin: 0;
    background-color: rgba(190, 235, 159, 1);
}

img {
    width: 100%;
    height: auto;
}

article {
    position: relative;
    overflow: hidden;
}

article h3,
article p {
    background: #FF4E00;
    padding: 20px 10px;
    display: inline-block;
    color: white;
    font-size: 20px;
}

article div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow: hidden;
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

article img {
    width: 100%;
    height: 100%;
}

/* grid layout */

section {
    display: grid;
    /*grid-template-columns: 23px auto 89px 100px 200px;*/
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    /* column-gap: ; */
    /* row-gap: ; */
}

article:nth-child(1) {
    grid-column: 1 / 3;
}

article:nth-child(3) {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
}

article:nth-child(5){
    grid-column: 2 / 4;
}
